ErrorDocument 403 /errors/403.html
ErrorDocument 404 /errors/404.html
Redirect Permanent /mailinglists.html /documentation/community/project-info.html#mailing-lists
Redirect Permanent /documentation/subprojects/apache-felix-http-service.html https://github.com/apache/felix-dev/tree/master/http
Redirect Permanent /documentation/subprojects/apache-felix-service-component-runtime.html https://github.com/apache/felix-dev/tree/master/scr
Redirect Permanent /documentation/subprojects/apache-felix-config-admin.html https://github.com/apache/felix-dev/tree/master/configadmin
Redirect Permanent /documentation/development/issue-tracking.html /documentation/community/project-info.html
Redirect Permanent /documentation/development/source-code.html /documentation/community/project-info.html
Redirect Permanent /documentation/community/apache-felix-community-roles-and-processes.html /documentation/community/project-info.html
Redirect Permanent /documentation/development/committers.html /documentation/community/project-info.html
Redirect Permanent /documentation/development/project-management-committee-pmc.html /documentation/community/project-info.html
Redirect Permanent /documentation/community/contributing-source-code.html /documentation/community/contributing.html
