/**
 * Pygments Code Formatter Styles
 * from https://bitbucket.org/birkenfeld/pygments-main/src/5cc94956e233/pygments/styles/friendly.py
 *
 * This CSS is not currently in use
 */
 
/** Whitespace */
.codehilite .w {
    color: #bbbbbb;
}
/** Error */
.codehilite .err {
    border: 1px solid #ff0000;
}
/** Other */
.codehilite .x {
}
/** Keyword */
.codehilite .k {
    font-style: bold;
    color: #007020;
}
/** Keyword.Constant */
.codehilite .kc {
}
/** Keyword.Declaration */
.codehilite .kd {
}
/** Keyword.Namespace */
.codehilite .kn {
}
/** Keyword.Pseudo */
.codehilite .kp {
    font-style: nobold;
}
/** Keyword.Reserved */
.codehilite .kr {
}
/** Keyword.Type */
.codehilite .kt {
    font-style: nobold;
    color: #902000;
}
/** Name */
.codehilite .n {
}
/** Name.Attribute */
.codehilite .na {
}
/** Name.Builtin */
.codehilite .nb {
    color: #007020;
}
/** Name.Builtin.Pseudo */
.codehilite .bp {
}
/** Name.Class */
.codehilite .nc {
    font-style: bold;
    color: #0e84b5;
}
/** Name.Constant */
.codehilite .no {
    color: #60add5;
}
/** Name.Decorator */
.codehilite .nd {
    font-style: bold;
    color: #555555;
}
/** Name.Entity */
.codehilite .ni {
    font-style: bold;
    color: #d55537;
}
/** Name.Exception */
.codehilite .ne {
    color: #007020;
}
/** Name.Function */
.codehilite .nf {
    color: #06287e;
}
/** Name.Property */
.codehilite .py {
}
/** Name.Label */
.codehilite .nl {
    font-style: bold;
    color: #002070;
}
/** Name.Namespace */
.codehilite .nn {
    font-style: bold;
    color: #0e84b5;
}
/** Name.Other */
.codehilite .nx {
}
/** Name.Tag */
.codehilite .nt {
    font-style: bold;
    color: #062873;
}
/** Name.Variable */
.codehilite .nv {
    color: #bb60d5;
}
/** Name.Variable.Class */
.codehilite .vc {
}
/** Name.Variable.Global */
.codehilite .vg {
}
/** Name.Variable.Instance */
.codehilite .vi {
}
/** Literal */
.codehilite .l {
}
/** Literal.Date */
.codehilite .ld {
}
/** String */
.codehilite .s {
    color: #4070a0;
}
/** String.Backtick */
.codehilite .sb {
}
/** String.Char */
.codehilite .sc {
}
/** String.Doc */
.codehilite .sd {
    font-style: italic;
}
/** String.Double */
.codehilite .s2 {
}
/** String.Escape */
.codehilite .se {
    font-style: bold;
    color: #4070a0;
}
/** String.Heredoc */
.codehilite .sh {
}
/** String.Interpol */
.codehilite .si {
    font-style: italic;
    color: #70a0d0;
}
/** String.Other */
.codehilite .sx {
    color: #c65d09;
}
/** String.Regex */
.codehilite .sr {
    color: #235388;
}
/** String.Single */
.codehilite .s1 {
}
/** String.Symbol */
.codehilite .ss {
    color: #517918;
}
/** Number */
.codehilite .m {
    color: #40a070;
}
/** Number.Float */
.codehilite .mf {
}
/** Number.Hex */
.codehilite .mh {
}
/** Number.Integer */
.codehilite .mi {
}
/** Number.Integer.Long */
.codehilite .il {
}
/** Number.Oct */
.codehilite .mo {
}
/** Operator */
.codehilite .o {
    color: #666666;
}
/** Operator.Word */
.codehilite .ow {
    font-style: bold;
    color: #007020;
}
/** Punctuation */
.codehilite .p {
}
/** Comment */
.codehilite .c {
    color: #60a0b0;
    font-style: italic;
}
/** Comment.Multiline */
.codehilite .cm {
}
/** Comment.Preproc */
.codehilite .cp {
    color: #007020;
    font-style: noitalic;
}
/** Comment.Single */
.codehilite .c1 {
}
/** Comment.Special */
.codehilite .cs {
    background-color: #fff0f0;
    font-style: noitalic;
}
/** Generic */
.codehilite .g {
}
/** Generic.Deleted */
.codehilite .gd {
    color: #a00000;
}
/** Generic.Emph */
.codehilite .ge {
    font-style: italic;
}
/** Generic.Error */
.codehilite .gr {
    color: #ff0000;
    }
/** Generic.Heading */
.codehilite .gh {
    font-style: bold;
    color: #000080;
}
/** Generic.Inserted */
.codehilite .gi {
    color: #00a000;
    }
/** Generic.Output */
.codehilite .go {
    color: #888;
}
/** Generic.Prompt */
.codehilite .gp {
    font-style: bold;
    color: #c65d09;
}
/** Generic.Strong */
.codehilite .gs {
    font-style: bold;
}
/** Generic.Subheading */
.codehilite .gu {
    font-style: bold;
    color: #800080;
    }
/** Generic.Traceback */
.codehilite .gt {
    color: #04d;
}


