Redirect Permanent /site/release-management-nexus.html /documentation/development/release-management-nexus.html
Redirect Permanent /site/provisional-osgi-api-policy.html /documentation/development/provisional-osgi-api-policy.html
Redirect Permanent /site/apache-felix-http-service.html /documentation/subprojects/apache-felix-http-service.html
