Redirect Permanent /site/downloads.cgi /downloads.cgi
Redirect Permanent /site/downloads.html /downloads.cgi

Redirect Permanent /site/release-management-nexus.html /documentation/development/release-management-nexus.html
Redirect Permanent /site/provisional-osgi-api-policy.html /documentation/development/provisional-osgi-api-policy.html
Redirect Permanent /site/apache-felix-http-service.html /documentation/subprojects/apache-felix-http-service.html
Redirect Permanent /site/using-the-osgi-compliance-tests.html /documentation/development/using-the-osgi-compliance-tests.html

Redirect Permanent /site/apache-felix-maven-scr-plugin.html /documentation/subprojects/apache-felix-maven-scr-plugin.html
Redirect Permanent /site/apache-felix-maven-scr-plugin-use.html /documentation/subprojects/apache-felix-maven-scr-plugin/apache-felix-maven-scr-plugin-use.html
Redirect Permanent /site/apache-felix-osgi-faq.html /documentation/tutorials-examples-and-presentations/apache-felix-osgi-faq.html
Redirect Permanent /site/apache-felix-service-component-runtime.html /documentation/subprojects/apache-felix-service-component-runtime.html
Redirect Permanent /site/apache-felix-scr-ant-task-use.html /documentation/subprojects/apache-felix-maven-scr-plugin/apache-felix-scr-ant-task-use.html
Redirect Permanent /site/apache-felix-framework-usage-documentation.html /documentation/subprojects/apache-felix-framework/apache-felix-framework-usage-documentation.html
Redirect Permanent /site/committers.html /documentation/development/committers.html
Redirect Permanent /site/extending-scr-annotations.html /documentation/subprojects/apache-felix-maven-scr-plugin/extending-scr-annotations.html
Redirect Permanent /site/scr-annotations.html /documentation/subprojects/apache-felix-maven-scr-plugin/scr-annotations.html
Redirect Permanent /site/scr-javadoc-tags.html /documentation/subprojects/apache-felix-maven-scr-plugin/scr-javadoc-tags.html
Redirect Permanent /site/apache-felix-scr-plugin-faq.html /documentation/faqs/apache-felix-scr-plugin-faq.html
Redirect Permanent /site/web-console-restful-api.html /documentation/subprojects/apache-felix-web-console/web-console-restful-api.html
