body {
	padding-top: 80px;
}

.box {
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	border: gray solid 1px;
	padding: 5px;
	width: 355px;
}

div.pom {
	background-color: #f9f9f9;
	border: 1px solid silver;
	padding: 0.5em;
	white-space: normal;
}

div.shell {
	background-color: #f9f9f9;
	border: 1px solid silver;
	padding: 0.5em;
	white-space: normal;
	font-family: "Courier New", Courier, mono;
}


.codehilite pre {
	background-color: inherit;
	border: none;
	border: none;
	-webkit-border-radius: none;
	-moz-border-radius: none;
	border-radius: none;
}
