
/*
 * MAIN PRESENTATION AND POSITION (Header, main, wiki mode...)
 */

/* Remove the Felix menu */
div.menu {
    visibility: hidden;
}

/* Hide the footer and the timestamp. */
div.trademarkFooter {
    visibility: hidden;
}
div.timestamp {
	visibility: hidden;
}

/* Main div 
 * Defined by the Felix web site
 */
div.main {
    width: 926px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    left: 0px;
    top:50px;
    border-top: none;
}


/* Remove first paragraphes */
p { 
    visibility: hidden;
    margin: 0px;
    padding: 0px;
    height: 0px;
}

/* Once we're in the content, re-enable paragraphes */
div.content p {
    visibility: visible;
    margin: inherit;
    padding: inherit;
    height: inherit;
}

/* Page content */
div.content {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-left: 1px solid #6699CC;
    border-right: 1px solid #6699CC;
    width:904px;
    margin-left: auto;
    margin-right: auto;
    top:-75px; /* -7*/
    position: relative;
    background-color: white;
}

/* Header image style */
img.header {
    width:926px;
    margin-top:10px; 
    margin-bottom:0px; 
    margin-left:0px; 
    margin-right:0px;
    padding: 0px;
}

.header-logo {
    position: relative;
    top: -120px;
    left:20px;
    border: none;
}


/* Hide the header image on the wiki */
div.wiki-content img.header {
    visibility: visible;
    width:926px;
    margin-top:10px; 
    margin-bottom:0px; 
    margin-left:0px; 
    margin-right:0px;
    padding: 0px;
}

/* Hide the header image on the wiki */
div.wiki-content a img.header-logo {
    visibility: visible;

}

/* Hide the menu on the wiki */
div.wiki-content #ipojo-menu {
    visibility: visible;
}

/* Re-position the main div on the wiki */
div.wiki-content div.main {
    top:100px;
}

/* Image footer style */
img.footer {
    width:926px;
    padding:0px;
    margin-top:0px;
    margin-bottom:0px; 
    margin-left:0px; 
    margin-right:0px;
    position: relative;
    top:-78px; /*-2 px*/
}

/* Image footer style */
div.wiki-content img.footer {
    width:926px;
    padding:0px;
    margin-top:0px;
    margin-bottom:0px; 
    margin-left:0px; 
    margin-right:0px;
    position: relative;
    top:-95px; /*-2 px*/
}

/* Menu position */
#ipojo-menu {
    position: absolute;
    top:107px;
    left: 5px;
}

div.wiki-content #ipojo-menu {
    position: absolute;
    top:228px;
    left: 486px;
}

div.wiki-content .content {
    top: -80px;
}


/* Menu style */
.sf-with-ul {
    background: transparent;
     color:#4D4D4D;
}

/*
 * BODY STYLE AND DEFAULT TEST STYLES
 */


/* Body style  */
body { 
    background-color: #ffffff; 
    color: #3b3b3b; 
    font-family: Tahoma, Arial, sans-serif; 
    font-size: 10pt; 
    line-height: 140% 
}

/* Default text style */
p, ul, ol, dd {
     color:#4D4D4D;
     font-family:arial,helvetica,sans-serif;
}

/*
 * HEADERS 
 */

h1, h2, h3, h4, h5, h6 { font-weight: normal; color: #003366; line-height: 100%; margin-top: 0px}

h1 {
    text-align: center;
    border-bottom:2px dashed #888888;
    font-size: x-large;
    font-weight:bold;
    margin:0 1em 1em 1em;
    padding:0 0 0.5em;
    margin-top: 10px;
}

h2 {
border-bottom:2px dotted #888888;
font-size: x-large;
font-weight:bold;
margin:10px 0 5px;
padding:0 0 4px;
}

h3 {
font-size: large;
font-weight: bold;
margin: 2em 0 .5em 0;
padding: 0;
}

h4 {
font-size: medium;
font-weight: bold;
margin: 2em 0 .5em 0;
padding: 0;
}

h5 { font-size: 130% }
h6 { font-size: 120% }

/*
 * LINKS
 */

/*
 * Standard links
 */
a:link, a:visited {
color: #084081;
text-decoration: none;
}

a:hover, a:active {
color: #FE9929;
text-decoration: none;
}


/*
 * IMAGES
 */
 
/* Inline external links image */
div.content sup img {
    border:none;
    display: inline;
}

/* Center regular images */
div.content img {
    border: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Inline images used in boxes */
div.box img {
    display: inline;
}

/* Inline images used in links */
div.content a img {
    display: inline;
}

/* Inline images in headers */
div.content h2 img {
    display: inline;
}

/* Inline images used in smallboxes */
div.smallbox img {
    display: inline;
}

/* Inline images from the header */
div.header img {
    display: inline;
    margin-right: inherit;
    margin-left: inherit
}

/*
 * LISTS
 */

ul {
    list-style-image:url(bullet-blue-arrow.png);
}

ol {
    list-style-type: decimal;
}



/*
.title { position: absolute; left: 1px; right: 1px; top:25px; height: 81px; background: url(http://felix.apache.org/site/media.data/gradient.png) repeat-x; background-position: bottom; }
.logo { position: absolute; width: 15em; height: 81px; text-align: center; }
.header { text-align: right; margin-right: 20pt; margin-top: 30pt;}
.menu { border-top: 10px solid #f9bb00; position: absolute; top: 107px; left: 1px; width: 15em; bottom: 0px; padding: 0px; background-color: #fcfcfc }
.menu ul { background-color: #fdf5d9; list-style: none; padding-left: 4em; margin-top: 0px; padding-top: 2em; padding-bottom: 2em; margin-left: 0px; color: #4a4a43}
.menu a { text-decoration: none; color: #4a4a43 }
.main { position: absolute; border-top: 10px solid #cde0ea; top: 107px; left: 15em; right: 1px; margin-left: 2px; padding-right: 4em; padding-left: 1em; padding-top: 1em;}
*/

.code { 
    color: #100;
    background-color: #f9f9f9;
    border: 1px solid silver;
    /*border:none;*/
    margin: 0 0 1.5em 0;
    overflow: auto; 
}
.code-keyword { color: #880000 }
.code-quote { color: #008800 }
.code-object { color: #0000dd }
.code-java { margin: 0.5em }
.code-comment {
     color: #21b315;
}

.code table {
    width: 100%;
}

.code .line1 {
    background-color:#FFFFFF;
    width: 100%;
}

.code .line2 {
    background-color: #F8F8F8;
    width: 100%;
}

.code .comment, .code .comments {
    color: darkGreen;
}

.code .dp-c .preprocessor {
    color:darkBlue;
}

.code .keyword, .code .tag, .code span.tag + span, .code .tag-name {
    color:#006699;
}

.dp-shell .keyword {
    color: inherit;
}

    
.code .attribute {
    color: darkRed;
}

.attribute-value {
    color:darkBlue;
}

.code textarea {
    width:100%;
    color: #100;
    background-color: #f9f9f9;
    border: 1px solid silver;
    overflow: auto; 
}



div.pom {
    background-color: #f9f9f9;
    border: 1px solid silver;
    padding: 0.5em;
    white-space: normal;
}

div.shell {
    background-color: #f9f9f9;
    border: 1px solid silver;
    padding: 0.5em;
    white-space: normal;
    font-family: "Courier New", Courier, mono;
}

.shell a {
    color: #3b3b3b;
    text-decoration: none;
    cursor: default;
}

.shell img {
    visibility: hidden;
}

.panelHeader {
    height: 15px;
    padding: 5px;
    text-align: center;
}

.three-panels div.panel {
    width: 250px;
}

.panelContent {
    /* height: 70px; */
    padding: 5px;
    margin: 0;
    padding-right: 20px;
    padding-left: 20px;
}

.three-panels table {
    margin-left: auto;
    margin-right: auto;
}

.panelContent ul {
    height: inherit;
    padding: 0;
    margin: 0;
    width: inherit;
    position:relative;
    list-style-type: square;
    list-style-position: inside;
}
.three-panels td {
    height: 100px;
    width: auto;
    float: none;
    position: relative;
}
.ipojo-menu h6 {
    border-top-style: solid;
    border-bottom-style: solid;
    border-bottom-color: #abc6ff;
    border-top-color: #abc6ff;
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    color: #153a99;
    background-color: #fdf5d9;
    margin-bottom:0px;
    padding-top: 5px;
    padding-bottom: 5px;    
    padding-left: 5px;  
}
.ipojo-menu ul {
        background-color: #fdf5d9;
        height: 100%;
        margin-top:  0px;
        margin-bottom: 0px;
        padding-top:5px;
        padding-bottom:10px;
        list-style-type: square;
        list-style-position: outside;
        text-shadow: navy 0px 0px 0px;
}
.ipojo-menu a {
        background-color: #fdf5d9;
        height: 100%;
        padding-top:2px;
        padding-bottom:2px;
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
}

blockquote {
    font-style: italic;
    border-left-style: solid;
    border-left-color: #153a99;
    padding-left: 10px;
    text-align: justify;
}

div.toc {
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    width:600px;
    border: 2px solid #7ca6d1; 
    background-color: #e3ebf5;
    
}

div.toc li {
    list-style-position: outside;
    list-style-type: circle;
    list-style-image:url(bullet_blue.png);
    vertical-align: top;
}

div.toc ul {
    list-style-type: circle;
}

/*
 * TABLE
 */
table.confluenceTable {
    border:1px solid #6699CC;
    border-collapse:collapse;
    font-family:"Lucida Sans Unicode","Lucida Grande",Sans-Serif;
    margin:20px;
    text-align:left;
    margin-left: auto;
    margin-right: auto;
}

table.confluenceTable th {
    border-bottom:1px dashed #6699CC;
    color:#003399;
    font-weight:normal;
    padding:12px 17px;  
    text-align: center;
}

table.confluenceTable tr td {
    color:#4D4D4D;
    padding:7px 17px;
    border-bottom: 1px solid #6699CC;
    border-collapse: collapse;
}



/* information macros */
.noteMacro { 
    border-style: solid; 
    border-width: 1px; 
    border-color: #F0C000; 
    background-color: #FFFFCE; 
    text-align:left; 
    margin-top: 5px; 
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}
.warningMacro { 
    border-style: solid; 
    border-width: 1px; 
    border-color: #c00; 
    background-color: #fcc; 
    text-align:left; 
    margin-top: 5px; 
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto; 
}
.infoMacro { 
    border-style: solid; 
    border-width: 1px; 
    border-color: #3c78b5; 
    background-color: #D8E4F1; 
    text-align:left; 
    margin-top: 5px; 
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}
.tipMacro { border-style: solid; border-width: 1px; border-color: #090; background-color: #dfd; text-align:left; margin-top: 5px; margin-bottom: 5px}
.informationMacroPadding { padding: 5px 0 0 5px; }

table.infoMacro td, table.warningMacro td, table.tipMacro td, table.noteMacro td, table.sectionMacro td {
    border: none;
}

/*
 * Boxes
 */

div.box {
    width: 565px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*
 * Green box
 */

div.box-green-header {
    background: url(box-green-header.png) no-repeat;
    width: 565px;
    height: 20px;
}

div.box-green-footer {
    background: url(box-green-footer.png)no-repeat;
    width: 570px;
    height: 20px;
}

div.box-green-title {
    position:relative;
    padding: 2px;
    padding-left: 12px;
    padding-top: 5px;
    margin-bottom: 12px;
    border-bottom: 2px dotted #008f00; 
}


div.box-green-content {
    border-left: 2px solid #008f00; 
    border-right: 2px solid #008f00; 
    background-color: #e3fee4;
    width: 551px;
    padding: 5px;
    padding-top: 10px;
}


/*
 * Blue box
 */

div.box-blue-header {
    background: url(box-blue-header.png) no-repeat;
    width: 565px;
    height: 20px;
}

div.box-blue-footer {
    background: url(box-blue-footer.png) no-repeat;
    width: 565px;
    height: 20px;
}

div.box-blue-title {
    position:relative;
    padding: 2px;
    padding-left: 12px;
    padding-top: 5px;
    margin-bottom: 12px;
    border-bottom: 2px dotted #7ca6d1; 
}


div.box-blue-content {
    border-left: 2px solid #7ca6d1; 
    border-right: 2px solid #7ca6d1; 
    background-color: #e3ebf5;
    width: 551px;
    padding: 5px;
    padding-top: 10px;
}

/*
 * Yellow box
 */

div.box-yellow-header {
    background: url(box-yellow-header.png) no-repeat;
    width: 565px;
    height: 20px;
}

div.box-yellow-footer {
    background: url(box-yellow-footer.png) no-repeat;
    width: 565px;
    height: 20px;
}

div.box-yellow-title {
    position:relative;
    padding: 2px;
    padding-left: 12px;
    padding-top: 5px;
    margin-bottom: 12px;
    border-bottom: 2px dotted #fcc584; 
}


div.box-yellow-content {
    border-left: 2px solid #fcc584; 
    border-right: 2px solid #fcc584; 
    background-color: #fffed7;
    width: 551px;
    padding: 5px;
    padding-top: 10px;
}

/*
 * Red box
 */

div.box-red-header {
    background: url(box-red-header.png) no-repeat;
    width: 565px;
    height: 20px;
}

div.box-red-footer {
    background: url(box-red-footer.png) no-repeat;
    width: 565px;
    height: 20px;
}

div.box-red-title {
    position:relative;
    padding: 2px;
    padding-left: 12px;
    padding-top: 5px;
    margin-bottom: 12px;
    border-bottom: 2px dotted #ff3620; 
}


div.box-red-content {
    border-left: 2px solid #ff3620; 
    border-right: 2px solid #ff3620; 
    background-color: #ffd7d5;
    width: 551px;
    padding: 5px;
    padding-top: 10px;
}

/*
 * Small Box
 */

div.smallbox {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background: url(smallbluebox.png) no-repeat;
}


div.smallbox-title {
    position:relative;
    padding: 2px;
    padding-left: 30px;
    padding-top: 20px;
    margin-bottom: 5px;
}


div.smallbox-content {
    width: 220px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 150px;
    overflow: hidden;
}




